
# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# build
lib

# db
process-cache.db
process-cache.db-journal

# Dependency directories
node_modules/

# others
.vscode
junit.xml
.env