
# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# build
lib

# storage
storage

# Dependency directories
node_modules/

# others
.vscode
junit.xml
.env
.env.prod